body {
    padding: 0;
    margin: 0;
}

.upload-wrapper, .send-wrapper {
    display: none;
    width: 100px;
}

.child {
    margin: 10px;
}
.visible {
    display: block;
}
.btn-send {
    cursor: not-allowed !important;
}

.btn-send-active {
    cursor: pointer !important;
    background-color: blue !important;
}
.btn-send-active:hover ,.btn-send-active:active {
    background-color: blue !important;

}

.btn-delete {
    margin-top: 8px;
    height: 38px !important;
}

.child1 {
    margin: 10px 10px 0 10px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child2 {
    margin-top: 6px;
}